* {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

*body {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: black;
    position: relative;
    z-index: 999;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    background: black;
    display: inline-flex;
}

.navbar li {
    position: relative;
}

.navbar li a {
    color: white;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

/* Style the dropdown menu */
.navbar ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background: black;
}

.navbar ul ul li {
    display: block;
}

.navbar li:hover ul {
    display: block;
}

/* Change the background color of dropdown links on hover */
.navbar ul ul li a:hover, ul li a:hover {
    background-color: #555;
}

form h1 {
    text-align: center;
    color: red;
}

main form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    outline: auto;
    outline-color: red;
}