@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 25px;
    font-family: "Ubuntu", sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background: linear-gradient(24deg, rgba(0,0,0,1) 0%, rgba(9,9,121,1) 30%, rgba(0,212,255,1) 100%); 
}

header{
    position: sticky;
    right: 0;
    top: 0;
    z-index: 50;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
    backdrop-filter: blur(2px);
}

/* LOGO STYLES */
.logo-span{
    z-index: 1;
    padding-top: 3px;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    transition: all .2s ease-in-out;
    width: 400px;
    height: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
    border-radius: 30px;  
}

/* LOGO ANIMATIONS */
.logo:hover::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.logo:hover::before{
    content: "";
  
    background: linear-gradient(
        90deg, rgba(0,63,255,.3) 0%, rgba(0,212,255,.3) 25%, rgba(0,63,255,.3) 50%, 
        rgba(0,212,255,.3) 75%, rgba(0,63,255,.3) 100%
    );  
    /*
    background: linear-gradient(45deg, 
        #FF0000,
        #FF7F00,   
        #FFFF00,   
        #00FF00,  
        #0000FF, 
        #4B0082,   
        #8B00FF    
    );
    */
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    filter: blur(8px);
    animation: glow 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 1;

}

@keyframes glow {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

.logo:hover{
    color: rgb(2,0,36);
}

/* HEADER LINK STYLES */

.links{
    display: flex;
}

.links a{
    color: white;
    margin-left: 60px;
    font-size: .7rem;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    padding: 0 10px;
    margin: 0 30px;
    position: relative;
}

.links a:hover{
    color: rgb(0,0,0, .3);
}

.links a::before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 3px;
    background-color: rgb(0,0,0, .3);
    transition: all .2s;
}

.links a:hover::before{
    width: 100%;

}

#menu-icon{
    font-size: 40px;
    z-index: 51;
    color: white;
    cursor: pointer;
    display: none;
}

/* MAIN STYLE */
.main{
    height: 100%;
    width: 100%;
    min-height: 200vh;
}

/* WELCOME STYLES */
.welcome{
    gap: 20px;
    color: white;
    align-items: center;
    padding: 0 20%;
    padding-top: 10rem;
    position: relative;
    margin-bottom: 5rem;
}

.welcome h2{
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 60px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 3px white;
}

.welcome h2{
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.welcome h2:nth-child(1){
    color: transparent;
    position: absolute;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    z-index: 1;

}

.welcome h2:nth-child(2){
    color: rgb(0, 174, 255);
    animation: wave 2s ease-in-out infinite;
}

@keyframes wave {
    0%, 100% {
        clip-path: polygon(
            0% 50%, 10% 45%, 20% 50%, 30% 55%, 40% 50%, 
            50% 45%, 60% 50%, 70% 55%, 80% 50%, 90% 45%, 
            100% 50%, 100% 100%, 0% 100%
        );
    }
    50% {
        clip-path: polygon(
            0% 55%, 10% 50%, 20% 55%, 30% 60%, 40% 55%, 
            50% 50%, 60% 55%, 70% 60%, 80% 55%, 90% 50%, 
            100% 55%, 100% 100%, 0% 100%
        );
    }
}

.welcome p{
    font-size: 1rem;
    line-height: 2;
    margin-bottom: 3rem;
    text-shadow: 3px 4px rgba(0, 0, 0, .7);
}

/* SOCIAL STYLES */
.socials{
    display: flex;
    justify-content: center;
}

.socials ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}

.socials li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
    transition: all 0.3s ease-in-out;
}

.socials li:hover{
    transform: translateY(-10px);
    background-color: rgb(2,0,36);
}

.socials i{
    font-size: 3rem;
    color: white;
}

/* ABOUT STYLES */
.about{
    gap: 20px;
    color: white;
    align-items: center;
    padding: 0 20%;
    padding-top: 15rem;
    position: relative;
}

.about h2{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
}

.about p{
    font-size: 20px;
    line-height: 2;
    margin-bottom: 2rem;
}

.projects-section h2 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
    padding-left: 15rem;
    padding-top: 15rem;
    margin-bottom: 2rem;
}

.projects-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    color: white;
    width: 100%;
    padding-bottom: 15rem;
}

.projects-container {
    display: flex;
    flex-direction: row;
    gap: 90px;
    height: 450px;
    overflow-x: auto;
    justify-content: center; /* Centered the project cards */
}

.project-card {
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    display: flex;
    overflow: hidden;
    min-width: 320px;
    max-width: 320px;
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .7);
}

.project-card:hover {
    transform: scale(0.95);
}

.project-info {
    backdrop-filter: blur(2px);
    padding: 20px;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: background-color 0.1s ease-in-out;
    overflow-y: auto; /* Make the card content scrollable */
}

.project-info:hover {
    background-color: rgba(8, 17, 65, 0.372);
}

.project-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    padding-bottom: 50px;
}

.project-card p, ul, li{
    color: white;
    padding-bottom: 30px;
}

/* Footer styles */
.rights {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: transparent;
    color: white;
    text-align: center;
}

.rights p{
    font-size: .7rem;
    font-weight: 50;
}

/* --------------------------------- CONTACT STYLES --------------------------------- */

.main-contact{
    height: 100%;
    width: 100%;
    min-height: 30vh;
    background: rgb(0,0,0);
    background: linear-gradient(24deg, rgba(0,0,0,1) 0%, rgba(9,9,121,1) 30%, rgba(0,212,255,1) 100%); 
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.formBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    background: white;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.formBox h1 {
    text-align: center;
    margin-bottom: 20px;
}

.formBox input,
.formBox textarea,
.formBox button {
    width: 100%;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 16px;
}

.formBox button {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

.formBox button:hover {
    background-color: rgb(76, 174, 76);
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-container input {
    width: auto;
}

.checkbox-container label {
    font-size: 14px;
}

/* --------------------------------- RESPONSIVE --------------------------------- */
/*  
    * 600px (mòbil)
    * 768px (tauleta vertical)
    * 992px (tauleta horitzontal)
    * 1200px (escriptori)
*/


@media (max-width: 1450px) {
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .socials{
        display: flex;
        justify-content: center;
    }
    
    .socials ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }
    
    .links{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 30vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 35px 20px;
        background: rgba(31, 40, 142, 0.333);
        transition: all .3s ease;
        backdrop-filter: blur(5px);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
        border-bottom-left-radius: 15px;
    }

    .links a{
        display: block;
        margin-left: 0;
        margin: 20px 0;
    }

    .links.open{
        right: 0;

    }
}

@media (max-width: 990px) {
    #menu-icon{
        display: block;
    }
    .socials ul{
        display: grid;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .welcome{
        padding: 0 10%;
        padding-top: 10rem;
    }
    .about{
        padding: 0 10%;
        padding-top: 10rem;
    }
}

@media (max-width: 550px) {
    .logo{
        display: none;
    }

}



/* ---------------------- CARDS STYLES ------------------ */
.deck{
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    overflow-x: scroll;
    padding-top: 100px;
    justify-content: center;
}

.card{
    width: 150px;
    height: 250px;
    background-color: grey;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    transition: .1s ease-in-out;
}

.PHY{
    background-color: rgb(150, 150, 0);
}

.STR{
    background-color: rgb(150, 0, 0);
}

.INT{
    background-color: rgb(150, 0, 150);
}

.TEQ{
    background-color: rgb(0, 150, 0);
}

.AGL{
    background-color: rgb(0, 150, 150);
}

.card:not(:disabled):hover{
    cursor: pointer;
    filter: brightness(1.25);
    transform: translateY(-20px);
}

.card:disabled{
    filter: brightness(.3);
}
.card img{
    width: 100px;
    height: 100px;
}

.card h3{
    font-size: .75rem;
    text-align: center;
}

.card td{
    font-size: .5rem;
    padding: 2px 5px;
}

.card th{
    font-size: .5rem;
}
  
.selected{
    transform: translateY(-20px);
    border-color: white;
    filter: brightness(1.25);
}

#playDIV{
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-top: 50px;
    justify-content: center;
}